@use '../abstracts' as *;

button,
input[type='button'],
input[type='submit'] {
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a,
button {
  appearance: none;
  outline: none;
  @include focus {
    outline: 1px dashed $black;
  }
}

.link {
  color: $black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 2px;
}
