@use '../abstracts' as *;

input,
textarea {
  background: $surface;
  border-radius: 0;
  box-shadow: none;
  color: $core;
  height: 25px;
  padding: 0 10px;
  &::placeholder {
    color: $core;
  }
}
