# dependencies
node_modules/

# next.js
.next/
out/

# turbo
.turbo/

# misc
.DS_Store
*.pem

# env files
.env
.env*.local

# coverage
coverage/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
