@use "../abstracts" as *;

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 1em;
  font-family: $font-default;
  font-weight: 400;
  line-height: 1.25;
  color: $black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
}
